version: "2"
services:
  app:
   container_name: backend
   env_file:
     - backend.env
   restart: always
   build: .
   volumes:
    - ./:/usr/src/app/
   ports:
    - "3001:3001"
   links:
    - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"
