.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headline {
  font-family: "Maven Pro";
  font-size: 40px;
  font-weight: bold;
}

.tableHeader {
    font-family: "Maven Pro";
    font-size: 20px;
    font-weight: lighter;
}

.tableRow {
    font-family: "Maven Pro";
    font-size: 15px;
    font-weight: lighter;
}