.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headline {
  font-family: "Maven Pro";
  font-size: 40px;
  font-weight: bold;
}

.tableHeader {
    font-family: "Maven Pro";
    font-size: 20px;
    font-weight: lighter;
    color: #d2d2d2;
}

.tableRow {
    font-family: "Maven Pro";
    font-size: 15px;
    font-weight: lighter;
    color: #d2d2d2;
}

button {
    background-color: #E36568;
    font-family: "Maven Pro";
    color: #fff;
    float: right;
    margin-right: 7px;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #5b5553;
    text-align: center;
    color: #d2d2d2;
}

.footerLink {
    color: #d2d2d2;
    padding: 10px;
}

.playerSelect {
    font-family: "Maven Pro";
    min-width: 100px;
}

#inputLabel {
    float: left;
    width: 140px;
}